In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import yfinance as yf

file = "Resources/Grocery_Restaurant Revenue Data.csv"

grocery_restaurant_df = pd.read_csv(file)
grocery_restaurant_df.head()

,Name,Revenue (mil) TTM USD,Revenue (mil) 2020 FY USD,Revenue (mil) Q4 USD (ESTIMATED),Revenue (mil) Q3 USD,Revenue (mil) Q2 USD,Revenue (mil) Q1 USD,Revenue (mil) FY 1 USD,Revenue (mil) FY 2 USD,Revenue (mil) FY 3 USD,Revenue (mil) FY 4 USD,Revenue (mil) FY 5 USD,Revenue (mil) FY 6 USD,Revenue (mil) FY 7 USD,Revenue (mil) FY 8 USD,Revenue (mil) FY 9 USD,Revenue (mil) FY 10 USD
0,Amazon.com Inc,347945.00,347945.00,87436.00,75452,88912,96145,280522.00,232887.00,177866.00,135987.00,107006.00,88988.00,74452.00,61093.00,48077.00,34204.00
1,Costco Wholesale Corp,172929.00,172929.00,39072.00,37266,53383,43208,166761.00,152703.00,141576.00,129025.00,118719.00,116199.00,112640.00,105156.00,99137.00,88915.00
2,Grocery Outlet Holding Corp,2983.34,2983.34,656.34,760,803,764,2559.62,2287.66,2075.47,1831.53,NaN,NaN,NaN,NaN,NaN,NaN
3,Sprouts Farmers Market Inc,6231.92,6231.92,1366.92,1646,1642,1577,5634.84,5207.34,4664.61,4046.39,3593.03,2967.42,2437.91,1794.82,1105.88,516.82
4,Target Corp,88621.00,88621.00,23399.00,19615,22975,22632,78112.00,75356.00,71879.00,69495.00,73785.00,72618.00,72596.00,73301.00,69865.00,67390.00

In [23]:
grocery_data_cleaned_df = grocery_restaurant_df[["Name",
                                                 "Revenue (mil) FY 10 USD",
                                                 "Revenue (mil) FY 9 USD",
                                                 "Revenue (mil) FY 8 USD",
                                                 "Revenue (mil) FY 7 USD",
                                                 "Revenue (mil) FY 6 USD",
                                                 "Revenue (mil) FY 5 USD",
                                                 "Revenue (mil) FY 4 USD",
                                                 "Revenue (mil) FY 3 USD",
                                                 "Revenue (mil) FY 2 USD",
                                                 "Revenue (mil) FY 1 USD", 
                                                 "Revenue (mil) 2020 FY USD"]]
grocery_data_cleaned_df.head()

,Name,Revenue (mil) FY 10 USD,Revenue (mil) FY 9 USD,Revenue (mil) FY 8 USD,Revenue (mil) FY 7 USD,Revenue (mil) FY 6 USD,Revenue (mil) FY 5 USD,Revenue (mil) FY 4 USD,Revenue (mil) FY 3 USD,Revenue (mil) FY 2 USD,Revenue (mil) FY 1 USD,Revenue (mil) 2020 FY USD
0,Amazon.com Inc,34204.00,48077.00,61093.00,74452.00,88988.00,107006.00,135987.00,177866.00,232887.00,280522.00,347945.00
1,Costco Wholesale Corp,88915.00,99137.00,105156.00,112640.00,116199.00,118719.00,129025.00,141576.00,152703.00,166761.00,172929.00
2,Grocery Outlet Holding Corp,NaN,NaN,NaN,NaN,NaN,NaN,1831.53,2075.47,2287.66,2559.62,2983.34
3,Sprouts Farmers Market Inc,516.82,1105.88,1794.82,2437.91,2967.42,3593.03,4046.39,4664.61,5207.34,5634.84,6231.92
4,Target Corp,67390.00,69865.00,73301.00,72596.00,72618.00,73785.00,69495.00,71879.00,75356.00,78112.00,88621.00

In [26]:
renamed_grocery_data_df = grocery_data_cleaned_df.rename(columns = {"Revenue (mil) 2020 FY USD":"2020 (Estimated) Revenue in Millions $",
                                                                    "Revenue (mil) FY 1 USD": "2019 Revenue in Millions $",
                                                                    "Revenue (mil) FY 2 USD": "2018 Revenue in Millions $",
                                                                    "Revenue (mil) FY 3 USD": "2017 Revenue in Millions $",
                                                                    "Revenue (mil) FY 4 USD": "2016 Revenue in Millions $",
                                                                    "Revenue (mil) FY 5 USD": "2015 Revenue in Millions $",
                                                                    "Revenue (mil) FY 6 USD": "2014 Revenue in Millions $",
                                                                    "Revenue (mil) FY 7 USD": "2013 Revenue in Millions $",
                                                                    "Revenue (mil) FY 8 USD": "2012 Revenue in Millions $",
                                                                    "Revenue (mil) FY 9 USD": "2011 Revenue in Millions $",
                                                                    "Revenue (mil) FY 10 USD":"2010 Revenue in Millions $"})

renamed_grocery_data_df

,Name,2010 Revenue in Millions $,2011 Revenue in Millions $,2012 Revenue in Millions $,2013 Revenue in Millions $,2014 Revenue in Millions $,2015 Revenue in Millions $,2016 Revenue in Millions $,2017 Revenue in Millions $,2018 Revenue in Millions $,2019 Revenue in Millions $,2020 (Estimated) Revenue in Millions $
0,Amazon.com Inc,34204.00,48077.00,61093.00,74452.00,88988.00,107006.00,135987.00,177866.00,232887.00,280522.00,347945.00
1,Costco Wholesale Corp,88915.00,99137.00,105156.00,112640.00,116199.00,118719.00,129025.00,141576.00,152703.00,166761.00,172929.00
2,Grocery Outlet Holding Corp,NaN,NaN,NaN,NaN,NaN,NaN,1831.53,2075.47,2287.66,2559.62,2983.34
3,Sprouts Farmers Market Inc,516.82,1105.88,1794.82,2437.91,2967.42,3593.03,4046.39,4664.61,5207.34,5634.84,6231.92
4,Target Corp,67390.00,69865.00,73301.00,72596.00,72618.00,73785.00,69495.00,71879.00,75356.00,78112.00,88621.00
5,The Kroger Co,82049.00,90269.00,96619.00,98375.00,108465.00,109830.00,115337.00,123280.00,121852.00,122286.00,130654.00
6,Walmart Inc,421849.00,446509.00,468651.00,476294.00,485651.00,482130.00,485873.00,500343.00,514405.00,523964.00,548743.00
7,Bloomin Brands Inc,3628.29,3841.26,3987.80,4129.23,4442.71,4377.68,4260.67,4223.14,4126.41,4139.39,3380.24
8,Brinker International Inc,2761.39,2820.72,2849.72,2909.50,3002.28,3257.49,3150.80,3135.40,3217.90,3078.50,3032.60
9,Cheesecake Factory Inc,1659.40,1757.62,1809.02,1877.91,1976.62,2100.61,2275.72,2260.50,2332.33,2482.69,2122.70

In [75]:
percent_change = ((renamed_grocery_data_df["2011 Revenue in Millions $"]/renamed_grocery_data_df["2010 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2012 Revenue in Millions $"]/renamed_grocery_data_df["2011 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2013 Revenue in Millions $"]/renamed_grocery_data_df["2012 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2014 Revenue in Millions $"]/renamed_grocery_data_df["2013 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2015 Revenue in Millions $"]/renamed_grocery_data_df["2014 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2016 Revenue in Millions $"]/renamed_grocery_data_df["2015 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2017 Revenue in Millions $"]/renamed_grocery_data_df["2016 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2018 Revenue in Millions $"]/renamed_grocery_data_df["2017 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2019 Revenue in Millions $"]/renamed_grocery_data_df["2018 Revenue in Millions $"]-1),
                  (renamed_grocery_data_df["2020 (Estimated) Revenue in Millions $"]/renamed_grocery_data_df["2019 Revenue in Millions $"]-1))
                     
percent_change_df = pd.DataFrame(percent_change)

percent_change_final_df = percent_change_df.transpose()
percent_change_final_df

,0,1,2,3,4,5,6,7,8,9
0,0.405596,0.270732,0.218667,0.195240,0.202477,0.270835,0.307963,0.309340,0.204541,0.240348
1,0.114964,0.060714,0.071170,0.031596,0.021687,0.086810,0.097276,0.078594,0.092061,0.036987
2,NaN,NaN,NaN,NaN,NaN,NaN,0.133189,0.102237,0.118881,0.165540
3,1.139778,0.622979,0.358303,0.217198,0.210826,0.126178,0.152783,0.116351,0.082096,0.105962
4,0.036727,0.049181,-0.009618,0.000303,0.016070,-0.058142,0.034305,0.048373,0.036573,0.134538
5,0.100184,0.070345,0.018174,0.102567,0.012585,0.050141,0.068868,-0.011583,0.003562,0.068430
6,0.058457,0.049589,0.016309,0.019645,-0.007250,0.007763,0.029781,0.028105,0.018583,0.047291
7,0.058697,0.038149,0.035466,0.075917,-0.014637,-0.026729,-0.008808,-0.022905,0.003146,-0.183397
8,0.021486,0.010281,0.020977,0.031889,0.085005,-0.032752,-0.004888,0.026312,-0.043320,-0.014910
9,0.059190,0.029244,0.038081,0.052564,0.062728,0.083361,-0.006688,0.031776,0.064468,-0.145000

In [79]:
percent_change_final_df[0:9] = percent_change_final_df[0:9].map("{:.2}%".format)
percent_change_final_df

AttributeError: 'DataFrame' object has no attribute 'map'